# R / RStudio
.Rhistory
.RData
.Rproj.user/

# Datos pesados
data/raw/**
data/processed/**
*.rds
*.RDS
*.csv
*.xlsx
*.zip

# Salidas
output/**
!output/figuras/**
!output/tablas/**

# Archivos auxiliares
.DS_Store
__pycache__/
*.log
*.aux
*.out
*.toc
*.bbl
*.blg

.docs
