bookdown
clue
coda
DiagrammeR
dplyr
ggplot2
ggraph
ggtext
here
igraph
janitor
jsonlite
kableExtra
knitr
lsa
lubridate
Matrix
mvtnorm
proxy
purrr
readxl
reshape2
rmarkdown
scales
showtext
slam
stopwords
stringdist
stringr
tibble
tidyr
tidytext
tidyverse
tm
topicmodels
tuber
udpipe
webshot
writexl
